_site
.DS_Store
.jekyll
.jekyll-metadata
.bundle
.sass-cache
Gemfile.lock
node_modules
package.json
*.gem
*.gemspec
.jekyll-cache
vendor
.env
*.pyc

mini_projects/boston_map/*/*.png
mini_projects/boston_map/*/*.jpg
*.Identifier
